.circular{
    border-radius: 100%;
    border: 1px solid black;
    font-size: 2em;
    width: 2em;
    height: 2em;
    display: block;
    flex-grow: 0;
    text-align: center;
    line-height: 2em;
    background: white;
}
.badger{
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 1.5em;
    height: 100%;
}
.badger.add{
    border-style: dashed;
}
.badger > div:first-child{
    margin-left: -1.7em;
}

.belief{
    /* width: 300px; */
    display: inline-block;
    margin-right: 2px;
    /* height: 5em; */
    margin-bottom: 6px;
    margin-left: 1em;
    width: 220px;
}
.belief small{
    font-size: 11px;
}
.belief button{
    border-radius: 10px;
    margin-top: -12px;
    padding: 2px;
}
.belief .divergent{
    color: firebrick;
}

.belief-name.uncommon{
    color: #13ac0d;
}
.belief-name.uncommon:after{
    content: '★';
}
.belief-name.rare{
    color: #0078d7;
}
.belief-name.rare:after{
    content: '★★';
}
.belief-name.rare.shadow .belief-name.uncommon.shadow{
    text-shadow: 0 0 3px hsla(187, 100%, 57%, .75);
}