.victim{
    animation: shake .4s infinite;
    display: inline-block;
    font-size: 36px;
    width: 44px;
    margin-right: 10px;
}
.victim:before{
    height: 40px;
    width: 40px;
    top: 16px;
    left: 3px;
}
@keyframes shake{
    0%{
        transform: translate(0px,0px);
    }
    10%{
        transform: translate(-3px,0px);
    }
    20%{
        transform: translate(0px,0px);
    }
    30%{
        transform: translate(0px,3px);
    }
    40%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px,-3px);
    }
    60%{
        transform: translate(0px,0px);
    }
    70%{
        transform: translate(3px,3px);
    }
    80%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(-3px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.h-42em{
    height: 4.2em;
}
.robot{
    display: block;
    font-size: 36px;
    position: relative;
    width: 44px;
    margin: auto;
    height: 110px;
}
.robot:before{
    transform: rotate(45deg);
    background-color: grey;
    border: 1px solid black;
    content: " ";
    display: inline;
    height: 40px;
    width: 40px;
    top: 16px;
    left: 3px;
    position: absolute;
    z-index: -2;
    border-top-left-radius: 12px;
}
.robot-arm{
    position: absolute;
    transform-origin: top;
    z-index: -3;
    overflow: visible;
}
.robot-arm.left{
    top: 44px;
    left: -40px;
    transform: scale(0.25) rotate(15deg);
}
.robot-arm.far-left{
    top: 26px;
    left: -52px;
    transform: scale(0.25) rotate(45deg);
}
.robot-arm.near-right{
    top: 44px;
    left: -10px;
    transform: scale(0.25) rotate(-15deg);
}
.robot-arm.far-right{
    top: 26px;
    left: 1px;
    transform: scale(0.25) rotate(-45deg);
}
.robot .tool{
    position: absolute;
    left: -42px;
    top:0;
}