.slot{
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    /* border: 1px solid dodgerblue; */
    position: absolute;
    left: 45px;
    top: 45px;
    pointer-events: none;
    font-size: 21px;
}