body, html {margin: 0;}
body, html, #root, .canvas, .world{height: 100%; width: 100%;}

.canvas{
  overflow: hidden;
}

body{
  background-image: url('./background-imgs/cyan-stars.png');
  background-size: cover;
}
h2.inline{
  display: inline-block;
}
h3.small{
  margin-bottom: 2px;
}
.card-parent{
  display: flex;
  padding: 4px;
}
.card-parent .card{
  background: hsl(16, 100%, 80%);
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  margin: 1px;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 3px;
  overflow: hidden;
  transition: transform 0.5s;
}
.card-parent .card.grow-0{
  flex-grow: 0;
}
.card-parent.active .card{
  background: hsl(16, 100%, 60%);
}
.card-parent.inactive .card{
  background: hsla(187, 100%, 57%, 0.5);
}
.card-parent .card.button:hover{
  background: hsl(16, 100%, 70%);
  transform: translateY(-6px);
}
.card-parent .card.button:active{
  background: hsl(16, 100%, 90%);
}
.card-parent.inactive .card.button:hover,
.card-parent.inactive .card.button:active{
  background: hsl(187, 100%, 70%);
}
.card-parent.active .card.button:hover,
.card-parent.active .card.button:active{
  background: hsl(17, 100%, 70%);
}
.card-parent .card small{
  display: block;
  /* margin-top: 4px; */
}
.card-parent .card.single small{
  display: inline;
  margin: 0;
}
.card-parent .card button, 
.card-parent button.card{
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.card-parent .card.thin{
  padding-top: 2px;
  padding-bottom: 2px;
}
.card-parent .card button{
  margin: 0;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0;
}
.card span.h{
  font-size: 1.3em;
}


button{
  margin: 1em;
}
button.important{
  background: hsl(16, 100%, 50%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px;
}
button.important:hover{
  background: hsl(16, 90%, 50%);
}
button.important:active{
  background: hsl(16, 100%, 60%);
}
button.important:disabled{
  opacity: .5;
}
button.callout{
  background: hsl(16, 100%, 80%);
  border-radius: 4px;
  padding: 4px;
}
button.callout:hover{
  background: hsl(16, 100%, 70%);
}
button.callout:active{
  background: hsl(16, 100%, 90%);
}
.overlay button.btn-found-party{
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

button.pull-r{
  margin: 0;
}
.cylinder button{
  margin: 0;
}
.cylinder button:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cylinder button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.blue-orange button{
    background: hsla(187, 100%, 57%, .5);
}
.blue-orange button:hover{
    background: hsla(187, 100%, 57%, 1);
}
.blue-orange button.active, .blue-orange button:active{
    background: hsl(16, 100%, 60%);
    outline: none;
}

.world{
  width: 1920px;
  height: 1080px;
  padding: 2em;
}
.world .tile{
  display: inline-block;
  text-align: center;
}
.world .tile:hover{
  border-color: hsl(16, 100%, 50%);
}
.world .tile:hover .petri-lid circle{
  fill: transparent;
}
.tile-label{
  margin-left: -40px;
  display: block;
  width: 122px;
  text-align: center;
  font-size: 14px;

}
.world .courthouse:hover .tile-label{
  opacity: .99;
  color: hsl(16, 100%, 50%);
  background: white;
  box-shadow: 0px 0px 6px 6px white;
}
.pull-r{
  float: right;
}
.align-mid{
  vertical-align: middle;
}
.align-base{
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.width-100p{
  width: 100%;
}

.header{
  text-align: center;
  margin-top: 1em;
}

.modal{
  width: 60%;
  height: 60%;
  position: fixed;
  top: 20%;
  left: 20%;
  background: white;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.75);
  box-shadow: 3px 3px 15px 15px rgba(0,0,0,.5);
  pointer-events: all;
}
.modal button.done{
  float: right;
}
.pad-20{
  padding: 20px;
}
.pad-4p{
  padding-left: 4%;
  padding-right: 4%;
}
.pad-4{
  padding-left: 4px;
  padding-right: 4px;
}
.pad-r-10{
  padding-right: 10px;
}
.marg-r-6{
  margin-right: 6px;
}
.marg-b-0{
  margin-bottom: 0px;
}
.marg-b-6{
  margin-bottom: 6px;
}
.marg-t-20{
  margin-top: 20px;
}
.grow-1{
  flex-grow: 1;
}
.grow-0{
  flex-grow: 0;
}
.policy{
  display: inline-block;
}
.policy, .policy b, .policy .badge{
  margin: .25em;
}
.policy p{
  margin-top: .5em;
}
.policy .badge{
  border-radius: 6px;
  border: 1px solid grey;
  padding: .25em;
  margin-left: 0;
}
.platform-subheader{
  text-align: center;
  font-weight: bold;
  border: 1px solid grey;
  border-top: 0px;
}
.platform-identity{
  text-align: center;
  font-weight: bold;
  border: 1px solid grey;
  border-top: 0px;
}

.tile{
  border: 1px solid black;
  width: 1100px;
  height: 1100px;
  border-radius: 600px;
  position: relative;
}
.tile .hex{
  width: 120px; height: 120px;
  top: -60px; left: -60px;
  border: 1px solid rgba(200, 200, 200, .1);
  border-radius: 100px;
  position: absolute;
}
.tile .hex:hover{
  border-color: hsl(16, 100%, 50%);
  cursor: pointer;
}
.tile .hex:hover .building{
  opacity: 1;
}
.tile .mtn{
  position: absolute;
  top: -37px; left: -20px;
  font-size: 2em;
  opacity: .5;
}
.petri-lid, .petri-base{
  position: absolute;
  left: 0; 
  width: 1100px; height: 1100px;
  pointer-events: none;
}
.petri-lid{
  top: -20px;
}
.petri-base{
  top: 0px;
}
.bar{
  font-size: 8px; height: 10px;
  background: rgba(255, 255, 255, .8);
  position: relative;
}
.big .bar{
  font-size: 12px; height: 18px;
  border: 1px solid grey;
}
.bar-inner{
  left: 0; position: absolute; top: 0; height: 100%;
  background: rgba(0, 255, 0, .8); 
  text-align: center;
  pointer-events: visible;
}
.bar-inner.dire{
  background: rgba(255, 0, 0, .8); 
}
.bar-inner.abundant{
  left: auto;
  right: 0;
}

.spotlight{
  position: absolute;
  width: 250px;
  height: 250px;
  left: -125px;
  top: -125px;
  border-radius: 200px;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.spotlight .label{
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.spotlight .bean-parent{
  flex-grow: 1;
}
.spotlight .bean{
  zoom: 300%;
  width: 24px;
  display: block;
  margin: auto;
}
.spotlight .card-parent{
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}
.bean .bean-face{
  position: absolute;
  left: 0;
}

ul.boxes{
  padding-left: 0;
}
ul.boxes li{
  padding: 2px 6px;
  display: inline-block;
}

.col-2{
  display: flex;
}
.col-2 > *{
  width: 45%;
  margin-left: 4%;
}
.col-2-30-60{
  display: flex;
}
.col-2-30-60 > *:first-child{
  width: 30%;
  margin-left: 4%;
}
.col-2-30-60 > *:last-child{
  width: 60%;
  margin-left: 4%;
}
.h-12{
  height: 12px;
}
.max-w-500{
  max-width: 500px;
}
.max-h-365{
  max-height: 365px;
  overflow-y: auto;
}
.marg-t-2em{
  margin-top: 2em;
}
.marg-0{
  margin: 0;
}
.pad-l-40{
  padding-left: 40px;
}
.pad-bt-8{
  padding-top: 8px;
  padding-bottom: 8px;
}
.f-size-12{
  font-size: 12px;
}
.f-size-125em{
  font-size: 1.25em;
}
.border-b-1{
  border-bottom: 1px solid black;
}

.border{
  border: 1px solid black;
}

.capsule-label{
  border-radius: 6px;
  border: 1px solid black;
  margin-left: 8px;
  font-size: 1.2em;
}
.capsule-text{
 font-weight: bold; 
 padding-left: 4px;
 padding-right: 6px;
 border-right: 1px solid black;
}
.capsule-icon{
  padding-left: 4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.capsule-value{
  padding-left: 4px;
  padding-right: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgba(255, 255, 255, .8);
}
.Energy .capsule-text, .Hedons .capsule-text{
  background: gold;
}
.Energy .capsule-icon, .Hedons .capsule-icon{
  background: gold;
}
.Psi .capsule-text, .Tortrons .capsule-text{
  background: pink;
}
.Psi .capsule-icon, .Tortrons .capsule-icon{
  background: pink;
}
.Bots .capsule-text{
  background: grey;
}
.Bots .capsule-icon{
  background: grey;
}

.slogan-group{  
  color: mediumblue;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 10px 10px 10px grey;
  display: flex;
}
.slogan{
  flex-grow: 1;
}
.slogan-before, .slogan-after{
  content: '★';
  color: white;
  font-size: 14px;
  display: block;
  padding: 0 4px;
}
.slogan-before{
  background: darkred;
  margin-right: 4px;
}
.slogan-after{
  background: mediumblue;
  margin-left: 4px;
}

td.small, th.small{
  font-size: 11px;
}
table.full{
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
table.classic{
  border-collapse: collapse;
  font-size: 12px;
  width: auto;
  min-width: 270px;
}
table.classic td{
  border: 1px solid grey;
}
table.classic th{
  background: grey;
}
table.classic .border-t{
  border-top: 4px solid grey;
}

.building{
  z-index: 0;
  opacity: .5;
  position: absolute;
  font-size: 30px; height: 30px; width: 30px;
  left: -20px; top: -20px;
  pointer-events: none;
}
.dead{
  position: absolute;
  bottom: 20px;
}

.bean{
  font-size: 18px;
  height: 20px; width: 20px;
  text-align: center;
  position: relative;
}
.bean:before{
  content: ' ';
  background: saddlebrown;
  height: 20px; width: 20px;
  border: 1px solid black;
  border-radius: 12px;
  position: absolute;
  left: 1px;
  top: 8px;
  z-index: -2;  
}
.bean:after{
  left: -12px;
  top: 7px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
}

.bean-walker{
  position: absolute; left: 0;top: 0;
  font-size: 18px;
  height: 20px; width: 20px;
  text-align: center;
  margin-left: -10px;
  animation: hop-marg 0.5s infinite;
}
.bean-walker.selected{
  text-shadow: 0 0 4px hsl(16, 100%, 50%);
}
.bean-walker:after{
  left: -12px;
  top: 7px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
}
.bean-walker.spin::after{
  animation: wiggle 0.5s infinite ease-in-out;
}
.bean-walker:hover:before,
.bean-walker.selected:before{
  border-color:  hsl(16, 100%, 50%);
  box-shadow: 0 0 10px hsl(16, 100%, 50%);
}
.bean.doc:after{
  content: '🩺';
}
.bean.builder:after{
  content: '🔨';
}
.bean.farmer:after{
  content: '🌾';
}
.bean.entertainer:after{
  content: '🎻';
}
.bean.jobless:after{
  content: '📰';
  transform: rotate(-45deg);
  font-size: 12px;
  top: 9px;
}
.bean-walker:before{
  content: ' ';
  height: 20px; width: 20px;
  border-radius: 12px;
  left: 1px;
  top: 8px;
  position: absolute;
  border: 1px solid black;
  background: saddlebrown;
  z-index: -2;
}
.bean.square:before{
  border-radius: 0px;
  transform: rotate(45deg);
  background: tan;
}
.bean.triangle:before{
  background: orangered;
  border-radius: 0px;
  transform: rotate(45deg);
}
.bean.circle:before{
  transform: rotate(45deg);
  border-radius: 0px;
}
.bean-walker.paused{
  animation-play-state: paused;
}
.bean-walker.interactable:hover{
  cursor: pointer;
  animation-play-state: paused;
}
.purchase{
  position: absolute;
  left: 22px;
  top: 2px;
  width: 1em;
}
.purchase .money, .purchase .purchase-good{
  position: absolute;
  left: 0;
  top: 0;
}
.purchase .money{
  animation: spend 1.5s;
  animation-fill-mode: forwards; /*pause after execution*/
}
.purchase .purchase-good{
  animation: get 1.5s;
  animation-fill-mode: forwards; /*pause after execution*/
}
@keyframes spend{
  0%{opacity: 1; transform: translateY(0)}
  60%{opacity: 1; transform: translateY(-20px)}
  100%{opacity: 0; transform: translateY(-20px)}
}
@keyframes get{
  0%{opacity: 0; transform: translateY(20px)}
  60%{opacity: 1; transform: translateY(0)}
  100%{opacity: 0; transform: translateX(-8px)}
}
.police-siren{
  animation: police-siren 1s infinite;
}
@keyframes police-siren{
  0%{text-shadow: 0px 0px 9px red;}
  49%{text-shadow: 0px 0px 9px red;}
  50%{text-shadow: 0px 0px 9px blue;}
  99%{text-shadow: 0px 0px 9px blue;}
  100%{text-shadow: 0px 0px 9px red;}
}
.speech{
  top: -20px;
  position: absolute;
  width: 3em;
  left: -0.7em;
}
.idea{
  position: absolute;
  left: 1px;
  top: -25px;
}
.idea.bad:after{
  content: '❌';
  font-size: 10px;
  position: absolute;
  left: -2px;
  bottom: 0px;
}
.ufo{
  position: absolute; left: -20px;top: -20px;
  font-size: 30px;
  height: 30px; width: 30px;
  text-align: center;
  /* margin-left: -10px; */
  animation: ufo-swoop-in-out 6s;
  animation-fill-mode: forwards; /*pause after execution*/
}
@keyframes ufo-swoop-in-out{
  0%{left: -80vw; top: -80vh}
  30%{left: -20px; top: -40px}
  60%{left: -20px; top: -40px}
  100%{left: 80vw; top: 80vh}
}
.ufo .beam{
  animation: ufo-beam .4s;
  animation-iteration-count: 5;
  position: absolute; left: 5px;top: 17px;
  width: 1em;
  height: 1.5em;
  background: greenyellow;
  z-index: -1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
@keyframes ufo-beam{
  0%{background: rgba(0, 255, 0, 0.5);}
  25%{background: rgba(100, 255, 0, 0.5);}
  50%{background: rgba(0, 255, 100, 0.5);}
  75%{background: rgba(100, 255, 0, 0.5);}
  100%{background: rgba(0, 255, 0, 0.5);}
}
.pickup{
  position: absolute; left: -5px;top: -5px;
  font-size: 10px;
  height: 10px; width: 10px;
  text-align: center;
}
.pickup.bob{
  animation: tiny-bob 1s infinite;
}
@keyframes tiny-bob{
  0%{top: -5px}
  50%{top: 0px;}
  100%{top: -5px;}
}
.subheader h3{
  display: inline-block;
  margin: 0;
}
.subheader button{
  margin: 4px;
}
.bean-view{
  text-align: center;
  zoom: 200%;
  padding: 5px;
}
.bubble-parent{
  position: relative;
}
.bubbler{
  position: absolute;
  display: block;
  top: -2em;
  left: 10px;
  animation: up 1.5s, fade 1.5s;
  font-weight: bold;
  font-size: 1.5em;
}
.bubbler.pos{
  color: darkgreen;
}
.bubbler.neg{
  color: red;
}
.badge{
  padding: 0 2px 2px 2px;
  border-radius: 10px;
  margin-top: 4px;
}
.badge.pos{
  background: darkgreen;
  color: white;
}
.badge.neg{
  background: firebrick;
  color: white;
}

.vertical{
  display: flex;
  flex-direction: column;
}
.vertical select{
  border-radius: 0;
  height: 2em;
}
.vertical select:last-child{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.reverse{
  flex-flow: column-reverse;
}
.horizontal{
  display: flex;
  flex-direction: row;
}
.horizontal > *{
  flex-grow: 1;
  margin-right: 2px;
}
.horizontal > *:last-child{
  margin-right: 0;
}
.horizontal > .grow-0{
  flex-grow: 0;
}

select:invalid { color: gray; }

@keyframes hop-marg {
  0% {
    margin-top: -10px;
  }
  50% {
    margin-top: -19px;
  }
  100% {
    margin-top: -10px;
  }
}
@keyframes hop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wiggle {
  0%   { transform: rotate(0) }
  25%  { transform: rotate(-30deg) }
  50%  { transform: rotate(0deg) }
  75%  { transform: rotate(30deg) }
  100% { transform: rotate(0)}
}
@keyframes wander {
  0%   { left: 79%; top: 15%; }
  5%   { left:  4%; top: 64%; }
  10%  { left: 32%; top: 12%; }
  15%  { left: 47%; top: 79%; }
  20%  { left: 05%; top: 38%; }
  25%  { left: 71%; top: 39%; }
  30%  { left: 77%; top: 01%; }
  35%  { left: 01%; top: 63%; }
  40%  { left: 18%; top: 25%; }
  45%  { left: 35%; top: 31%; }
  50%  { left: 27%; top: 60%; }
  55%  { left: 16%; top: 35%; }
  60%  { left: 90%; top: 54%; }
  65%  { left: 62%; top: 77%; }
  70%  { left: 79%; top: 73%; }
  75%  { left: 81%; top: 54%; }
  80%  { left: 51%; top: 11%; }
  85%  { left: 28%; top: 58%; }
  90%  { left: 66%; top: 21%; }
  95%  { left: 81%; top: 66%; }
  /*100% { left: 75%; top: 21%;}*/
  100% { left: 79%; top: 15%; }
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.goals small{
  margin-left: 10px;
  pointer-events: visible;
  cursor: help;
}

.particle-parent{
  position: absolute;
}
.particle{
  height: 6px;
  width: 6px;
  border: 1px solid #333;
  background: gold;
  position: absolute;
  opacity: 0;
}