body, html {margin: 0;}
body, html, #root, .canvas, .world{height: 100%; width: 100%;}

.canvas{
  overflow: hidden;
}

body{
  background-image: url('./cyan-stars.png');
  background-size: cover;
}

h3.small{
  margin-bottom: 2px;
}
.card-parent{
  display: flex;
  padding: 4px;
}
.card-parent .card{
  background: hsl(16, 100%, 80%);
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  margin: 1px;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 3px;
  overflow: hidden;
  transition: transform 0.5s;
}
.card-parent .card.button:hover{
  background: hsl(16, 100%, 70%);
  transform: translateY(-6px);
}
.card-parent .card.button:active{
  background: hsl(16, 100%, 90%);
}
.card-parent .card small{
  display: block;
  margin-top: 4px;
}
.card-parent .card button, 
.card-parent button.card{
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.card-parent .card.thin{
  padding-top: 2px;
  padding-bottom: 2px;
}
.card-parent .card button{
  margin: 0;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0;
}
.card span.h{
  font-size: 1.3em;
}


button{
  margin: 1em;
}
button.important{
  background: hsl(16, 100%, 50%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px;
}
button.important:hover{
  background: hsl(16, 90%, 50%);
}
button.important:active{
  background: hsl(16, 100%, 60%);
}
button.important:disabled{
  opacity: .5;
}
button.callout{
  background: hsl(16, 100%, 80%);
  border-radius: 4px;
  padding: 4px;
}
button.callout:hover{
  background: hsl(16, 100%, 70%);
}
button.callout:active{
  background: hsl(16, 100%, 90%);
}
.overlay button.btn-found-party{
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

button.pull-r{
  margin: 0;
}

.full-width-tabs{
  display: flex;
}
.full-width-tabs button{
  flex-grow: 1;
  margin: 0;
  height: 3em;
}

.world{
  width: 1920px;
  height: 1080px;
  padding: 2em;
}
.world .tile{
  display: inline-block;
  background: white;
  text-align: center;
}
.world .tile:hover{
  border-color: hsl(16, 100%, 50%);
}
.world .tile:hover .petri-lid circle{
  fill: transparent;
}
.tile-label{
  opacity: .6;
  z-index: 9;
  vertical-align: sub;
  font-weight: bold;
  cursor: pointer;
}
.world .tile:hover .tile-label{
  opacity: .99;
  color: hsl(16, 100%, 50%);
  background: white;
  box-shadow: 0px 0px 6px 6px white;
}
.pull-r{
  float: right;
}
.align-mid{
  vertical-align: middle;
}
.align-base{
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.width-100p{
  width: 100%;
}


.header{
  text-align: center;
  margin-top: 1em;
}

.modal{
  width: 60%;
  height: 60%;
  position: fixed;
  top: 20%;
  left: 20%;
  background: white;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.75);
  box-shadow: 3px 3px 15px 15px rgba(0,0,0,.5);
  pointer-events: all;
}
.modal button.done{
  float: right;
}
.pad-20{
  padding: 20px;
}
.pad-4p{
  padding-left: 4%;
  padding-right: 4%;
}
.grow-1{
  flex-grow: 1;
}
.policies{

}
.policy{
  display: inline-block;
}
.policy, .policy b, .policy .badge{
  margin: .25em;
}
.policy p{
  margin-top: .5em;
}
.policy .badge{
  border-radius: 6px;
  border: 1px solid grey;
  padding: .25em;
  margin-left: 0;
}
.platform-subheader{
  text-align: center;
  font-weight: bold;
  border: 1px solid grey;
  border-top: 0px;
}
.platform-identity{
  text-align: center;
  font-weight: bold;
  border: 1px solid grey;
  border-top: 0px;
}

.tile{
  border: 1px solid black;
  width: 1100px;
  height: 1100px;
  border-radius: 600px;
  position: relative;
}
.tile .hex{
  width: 120px; height: 120px;
  top: -60px; left: -60px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 100px;
  position: absolute;
}
.tile .mtn{
  position: absolute;
  top: -37px; left: -20px;
  font-size: 2em;
  opacity: .5;
}
.petri-lid{
  position: absolute;
  left: 0; top: -20px;
  width: 1100px; height: 1100px;
  pointer-events: none;
}
.bar{
  font-size: 8px; height: 10px;
  background: rgba(255, 255, 255, .8);
  position: relative;
}
.big .bar{
  font-size: 12px; height: 18px;
  border: 1px solid grey;
}
.bar-inner{
  left: 0; position: absolute; top: 0; height: 100%;
  background: rgba(0, 255, 0, .8); 
  text-align: center;
  pointer-events: visible;
}
.bar-inner.dire{
  background: rgba(255, 0, 0, .8); 
}
.bar-inner.abundant{
  left: auto;
  right: 0;
}

ul.boxes{
  padding-left: 0;
}
ul.boxes li{
  padding: 2px 6px;
  display: inline-block;
}

.col-2{
  display: flex;
}
.col-2 > *{
  width: 45%;
  margin-left: 4%;
}
.max-w-500{
  max-width: 500px;
}
.m-t-2em{
  margin-top: 2em;
}

.capsule-label{
  border-radius: 6px;
  border: 1px solid black;
  margin-left: 8px;
  font-size: 1.2em;
}
.capsule-text{
 font-weight: bold; 
 padding-left: 4px;
 padding-right: 6px;
 border-right: 1px solid black;
}
.capsule-icon{
  padding-left: 4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.capsule-value{
  padding-left: 4px;
  padding-right: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgba(255, 255, 255, .8);
}
.Energy .capsule-text{
  background: gold;
}
.Energy .capsule-icon{
  background: gold;
}
.Psi .capsule-text{
  background: pink;
}
.Psi .capsule-icon{
  background: pink;
}
.Bots .capsule-text{
  background: grey;
}
.Bots .capsule-icon{
  background: grey;
}

.slogan-group{  
  color: mediumblue;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 10px 10px 10px grey;
  display: flex;
}
.slogan{
  flex-grow: 1;
}
.slogan-before, .slogan-after{
  content: '★';
  color: white;
  font-size: 14px;
  display: block;
  padding: 0 4px;
}
.slogan-before{
  background: darkred;
  margin-right: 4px;
}
.slogan-after{
  background: mediumblue;
  margin-left: 4px;
}

td.small{
  font-size: 11px;
}
table.classic{
  border-collapse: collapse;
  font-size: 12px;
  width: auto;
  min-width: 270px;
}
table.classic td{
  border: 1px solid grey;
}
table.classic th{
  background: grey;
}
table.classic .border-t{
  border-top: 4px solid grey;
}

.building{
  z-index: 0;
  opacity: .5;
  position: absolute;
  font-size: 30px; height: 30px; width: 30px;
  left: -20px; top: -20px;
}
.dead{
  position: absolute;
  bottom: 20px;
}

.bean{
  font-size: 18px;
  height: 20px; width: 20px;
  text-align: center;
  position: relative;
}
.bean:before{
  content: ' ';
  background: saddlebrown;
  height: 20px; width: 20px;
  border: 1px solid black;
  border-radius: 12px;
  position: absolute;
  left: 1px;
  top: 8px;
  z-index: -2;  
}
.bean:after{
  left: -12px;
  top: 7px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
}

.bean-walker{
  position: absolute;
  font-size: 18px;
  height: 20px; width: 20px;
  animation: hop 0.5s infinite, wander 90s infinite linear;
  text-align: center;
}
.bean-walker:after{
  left: -12px;
  top: 7px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
}
.bean-walker:hover:before{
  border-color:  hsl(16, 100%, 50%);
  box-shadow: 0 0 10px hsl(16, 100%, 50%);;
}
.bean.doc:after{
  content: '💊';
}
.bean.builder:after{
  content: '🔨';
}
.bean.farmer:after{
  content: '🌾';
}
.bean.jobless:after{
  content: '📰';
  transform: rotate(-45deg);
  font-size: 12px;
  top: 9px;
}
.bean-walker.jobless{
  animation-duration: 90s;
}
.bean-walker:before{
  content: ' ';
  height: 20px; width: 20px;
  border-radius: 12px;
  left: 1px;
  top: 8px;
  position: absolute;
  border: 1px solid black;
  background: saddlebrown;
  z-index: -2;
}
.bean.square:before{
  border-radius: 0px;
  transform: rotate(45deg);
  background: tan;
}
.bean.triangle:before{
  background: orangered;
  border-radius: 0px;
  transform: rotate(45deg);
}
.bean.circle:before{
  transform: rotate(45deg);
  border-radius: 0px;
}
.bean-walker.paused{
  animation-play-state: paused;
}
.bean-walker.interactable:hover{
  cursor: pointer;
  animation-play-state: paused;
}
.idea{
  position: absolute;
  left: 1px;
  top: -25px;
}
.idea.bad:after{
  content: '❌';
  font-size: 10px;
  position: absolute;
  left: -2px;
  bottom: 0px;
}
.subheader h3{
  display: inline-block;
  margin: 0;
}
.subheader button{
  margin: 4px;
}
.bean-view{
  text-align: center;
  zoom: 200%;
  padding: 5px;
}
.bubble-parent{
  position: relative;
}
.bubbler{
  position: absolute;
  display: block;
  top: -2em;
  left: 10px;
  animation: up 1.5s, fade 1.5s;
  font-weight: bold;
  font-size: 1.5em;
}
.bubbler.pos{
  color: darkgreen;
}
.bubbler.neg{
  color: red;
}

.vertical{
  display: flex;
  flex-direction: column;
}
.vertical select{
  border-radius: 0;
  height: 2em;
}
.vertical select:last-child{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.reverse{
  flex-flow: column-reverse;
}
.horizontal{
  display: flex;
  flex-direction: row;
}
.horizontal > *{
  flex-grow: 1;
  margin-right: 2px;
}
.horizontal > *:last-child{
  margin-right: 0;
}

select:invalid { color: gray; }

@keyframes hop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes handwritten_wander {
  0%   { left:  0%; top:  0%; }
  10%  { left: 90%; top: 90%; }
  20%  { left: 90%; top:  0%; }
  30%  { left:  0%; top: 90%; }
  40%  { left: 50%; top: 90%; }
  50%  { left: 90%; top: 90%; }
  60%  { left:  0%; top:  0%; }
  70%  { left: 90%; top:  0%; }
  80%  { left: 90%; top: 50%; }
  90%  { left:  0%; top: 90%; }
  95%  { left: 60%; top: 77%; }
  100% { left:  0%; top:  0%;}
}
@keyframes wander {
  0%   { left: 79%; top: 15%; }
  5%   { left:  4%; top: 64%; }
  10%  { left: 32%; top: 12%; }
  15%  { left: 47%; top: 79%; }
  20%  { left: 05%; top: 38%; }
  25%  { left: 71%; top: 39%; }
  30%  { left: 77%; top: 01%; }
  35%  { left: 01%; top: 63%; }
  40%  { left: 18%; top: 25%; }
  45%  { left: 35%; top: 31%; }
  50%  { left: 27%; top: 60%; }
  55%  { left: 16%; top: 35%; }
  60%  { left: 90%; top: 54%; }
  65%  { left: 62%; top: 77%; }
  70%  { left: 79%; top: 73%; }
  75%  { left: 81%; top: 54%; }
  80%  { left: 51%; top: 11%; }
  85%  { left: 28%; top: 58%; }
  90%  { left: 66%; top: 21%; }
  95%  { left: 81%; top: 66%; }
  /*100% { left: 75%; top: 21%;}*/
  100% { left: 79%; top: 15%; }
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.goals small{
  margin-left: 10px;
  pointer-events: visible;
  cursor: help;
}