.social-graph{
    width: calc(100% - 300px);
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bean-node{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background: dodgerblue;
    border-radius: 200px;
    padding: 10px;
    text-align: center;
    z-index: 0;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 30px;
}
.bean-node:hover{
    background: darkblue;
    border-color: dodgerblue;
}
.bean-node .bean{
    top: 0px;
    left: 1px;
}